<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">


	<div align="center">
	    <div id="date"></div>
	    <div style="width: 500px;">
		    <table border="1" style="text-align: center">
		        <thead>
		            <tr>
		                <th style="width:400px">순위</th>
		                <th style="width:400px">이름</th>
		                <th style="width:700px">지갑</th>
		                <th style="width:300px">점수</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="d : ${data}">
		                <td th:text="${d.RN}"></td>
		                <td th:text="${d.NAME}"></td>
		                <td th:text="${d.ADDRESS}"></td>
		                <td th:text="${d.SCORE}"></td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	
	<script>
		window.onload = function(){
			document.getElementById('date').innerHTML = `<h1>${getDateString()} 순위</h1><h3>${getTimeString()}</h3><h5>점수는 매일 21시 이전까지만 기록됩니다.</h5>`; 
		}
		
		
		function getDateString(){
			let date = new Date();
			return date.getMonth() + '월 ' + date.getDate() + '일 ';
		}
		function getTimeString(){
			let date = new Date();
			return date.getHours() + '시 ' + date.getMinutes() + '분';
		}
		
		
	</script>
	
</th:block>
</html>