<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">


	<div align="center">
	    <h1>일일 랭킹</h1>
	    <div style="width: 500px;">
		    <table border="1" style="text-align: center">
		        <thead>
		            <tr>
		                <th style="width:400px">이름</th>
		                <th style="width:700px">지갑</th>
		                <th style="width:300px">점수</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="d : ${data}">
		                <td th:text="${d.NAME}"></td>
		                <td th:text="${d.ADDRESS}"></td>
		                <td th:text="${d.SCORE}"></td>
		            </tr>
		        </tbody>
		    </table>
		    <br>
		    <button onclick="location.href='/game'">게임화면으로</button>
		</div>
	</div>
	
</th:block>
</html>