<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<form action="/users/register" method="post" name="userForm">
			id: <input type="text" name="id" id="id">
			password: <input type="text" name="password" id="password">
			<button id="btn" type="button">회원가입</button>
		</form>
	</div>
</body>

<script>
	document.getElementById('btn').addEventListener('click',function(){
		
		document.userForm.submit();
		
	});
</script>
</html>