<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

	<div>
<!-- 		<h1>미구현</h1><br>
		<span>미구현<button onclick="purchase()">구매</button></span><br>
	</div>
	<div>
		<h3>&lt;test&gt;</h3>
		metadata: <input type="text" id="metadata"><button onclick="addAircraft()">추가</button>
		
		<div>
			https://metadata-store.klaytnapi.com/acd6bdf7-bdf1-615f-980b-c465dc3b4909/49c747db-581c-7974-64b9-203d85c5abfb.json
		</div>
		<div>
			https://metadata-store.klaytnapi.com/acd6bdf7-bdf1-615f-980b-c465dc3b4909/db1525fd-71b0-0f7a-bdfc-7e25acf55179.json
		</div>
		
 -->
	</div>

	<script>
		function purchase() {

			let price = 1500 * 1000000000000000000;
			let value = '0x' + price.toString(16);

			const transactionParameters = {
				gas: '0x7530',
				to: '0x80C2272266C86d7d6FA292aB11FE5E5c261955eB',
				from: klaytn.selectedAddress,
				value: value
			}

			klaytn.sendAsync({
					method: 'klay_sendTransaction',
					params: [transactionParameters],
					from: klaytn.selectedAddress
				},
				function (a, b) {
					console.log(a);
					console.log(b);
				}
			)
		}

		function addAircraft() {
			//if(토큰소유자.address == klaytn.selectedAddress)

			let url = document.getElementById('metadata').value;
			fetch(url)
				.then(r => r.json())
				.then(r => {

					let obj = {
						'address': klaytn.selectedAddress,
						'hp': r.attributes[0].value,
						'metadata': url
					}

					fetch('/aircraft', {
						method: 'post',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify(obj)
					})
					.then(r=>{
						console.log(r)
						alert('추가됨');
					})
					.catch(err=>console.log(err));

				})
				.catch(err => console.log(err));
		}
	</script>

</th:block>

</html>