<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">
<style>
	.foott{
		display: flex;
		justify-content: space-around;
	}
	.footmenu1{
		width: 24%;
		height: 50px;
		border: 1px solid black;
		display: flex;
		align-items: center;
		text-align: center;
	}
</style>
	<footer class="sticky-footer bg-white">
		<div class="foott" style="border: black solid 1px">
			<div class="footmenu1" id="menu1">
				MARKET
			</div>
			<div class="footmenu1" id="menu2">
				EQUIP
			</div>
			<div class="footmenu1" id="menu3">
				GAME
			</div>
			<div class="footmenu1" id="menu4">
				RANK
			</div>
		</div>
	</footer>
	
	<script>
		document.getElementById('menu1').addEventListener('click',function(){
			location.href = '/market';
		});
		document.getElementById('menu2').addEventListener('click',function(){
			location.href = '/equip?address='+klaytn.selectedAddress;
		});
		document.getElementById('menu3').addEventListener('click',function(){
			location.href = '/game?address='+klaytn.selectedAddress;
		});
		document.getElementById('menu4').addEventListener('click',function(){
			location.href = '/users/rank';
		});
	</script>
</th:block>

</html>