<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jamong.projectbsc.mapper.ScoreMapper">
	
	<insert id="recordScore" parameterType="com.jamong.projectbsc.dto.Score">
		insert into
			scores(
				address,
				played_date,
				score
			)
			values (
				#{address},
				sysdate,				
				#{score}
			)
	</insert>
	
	<select id="getRank" resultType="map" parameterType="map">
		select * from(
			select rownum "RN", name, address, score from (
				select
					u.name "NAME", u.address "ADDRESS", max(s.score) "SCORE"
				from
					scores s
    			join
    				users u
		    		on s.address = u.address
	    		where
            		1=1
        			and to_char(played_date) = to_char(sysdate)
        			and 210000 > to_number(to_char(played_date, 'hh24miss'))
        		group by u.name, u.address
        		order by 3 desc
        	)
        )
        <if test='high != null and high != "" and low != null and low != ""'>
	        where rn between #{high} and #{low}
        </if>
        
	</select>
	
</mapper>