<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jamong.projectbsc.mapper.UserMapper">

	<insert id="addUser" parameterType="com.jamong.projectbsc.dto.User">
		insert into
			users (
				id,
				password,
				address,
				key_id,
				krn,
				public_key
			)
			values(
				#{id},
				#{password},
				#{address},
				#{keyId},
				#{krn},
				#{publicKey}
			)
	</insert>

	<select id="userList" resultType="com.jamong.projectbsc.dto.User">
		select
			*
		from
			users
	</select> 
	
	<select id="getPassword" resultType="string">
		select
			password
		from
			users
		where
			id = #{id}
	</select>
	
	<select id="findUser" resultType="com.jamong.projectbsc.dto.User" parameterType="com.jamong.projectbsc.dto.User">
		select
			id, password, address, key_id, krn, public_key
		from
			users
		where
			id = #{id}
	</select>
	
</mapper>